absl-py==2.2.1
addict==2.4.0
aenum==3.1.15
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
appnope==0.1.4
asttokens==3.0.0
attrs==25.3.0
batchgenerators==0.25.1
blinker==1.9.0
boto3==1.37.22
botocore==1.37.22
BTrees==6.1
certifi==2025.1.31
cffi==1.17.1
Chameleon==4.6.0
charset-normalizer==3.4.1
click==8.1.8
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.11
debugpy==1.8.13
decorator==5.2.1
Deprecated==1.2.18
dicom2nifti==2.5.1
et_xmlfile==2.0.0
executing==2.2.0
filelock==3.17.0
filetype==1.2.0
fire==0.7.0
Flask==3.1.0
fonttools==4.55.7
frozenlist==1.5.0
fsspec==2024.12.0
future==1.0.0
gitdb==4.0.12
GitPython==3.1.44
grok3==0.0.1.dev0
Grok3API==0.0.1b8
grokcore.annotation==4.0
grokcore.catalog==4.0
grokcore.chameleon==4.1
grokcore.component==4.1.1
grokcore.content==4.1
grokcore.formlib==4.0
grokcore.layout==4.0
grokcore.message==4.0
grokcore.security==4.0
grokcore.site==4.0
grokcore.traverser==4.0
grokcore.view==4.0
grokcore.viewlet==4.0
grpcio==1.71.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.24.7
idna==3.7
imageio==2.37.0
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==9.0.1
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.8
lazy_loader==0.4
line-bot-sdk==3.16.3
linecache2==1.0.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
martian==2.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
MedPy==0.5.2
mmcv==2.1.0
mmcv-full==1.7.2
mmdet==3.3.0
mmengine==0.10.6
monai==1.4.0
monai-weekly==1.5.dev2505
mpmath==1.3.0
multidict==6.4.2
multipart==1.2.1
narwhals==1.25.2
nest-asyncio==1.6.0
networkx==3.4.2
nibabel==5.3.2
nnunet==1.7.1
numpy==1.26.4
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parso==0.8.4
persistent==6.1.1
pexpect==4.9.0
pillow==11.1.0
pillow_heif==0.22.0
platformdirs==4.3.6
plotly==6.0.0
prompt_toolkit==3.0.50
propcache==0.3.1
protobuf==6.30.2
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pybboxes==0.1.6
pycocotools==2.0.8
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pydicom==3.0.1
Pygments==2.19.1
pyparsing==3.2.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-gdcm==3.0.24.1
python-gettext==5.0
pytz==2025.1
PyYAML==6.0.2
pyzmq==26.2.1
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
roboflow==1.1.58
s3transfer==0.11.4
sahi==0.11.22
scikit-image==0.25.1
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
selenium==4.31.0
shapely==2.0.6
SimpleITK==2.4.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
stack-data==0.6.3
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2025.1.10
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
traceback2==1.4.0
traitlets==5.14.3
transaction==5.0
trio==0.29.0
trio-websocket==0.12.2
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.3.97
ultralytics-thop==2.0.14
undetected-chromedriver==3.5.5
unittest2==1.1.0
urllib3==2.3.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
yapf==0.43.0
yarl==1.19.0
yolov5==7.0.14
z3c.autoinclude==1.1
z3c.flashmessage==3.1
z3c.pt==4.5
zc.catalog==4.0
zc.lockfile==3.0.post1
ZConfig==4.2
zdaemon==5.1
ZODB==6.0
zodbpickle==4.2
zope.annotation==5.1
zope.app.appsetup==5.0
zope.app.publication==5.0
zope.app.wsgi==5.3
zope.authentication==5.1
zope.browser==3.1
zope.browserpage==5.0
zope.browserresource==5.2
zope.cachedescriptors==5.1
zope.catalog==5.0
zope.component==6.0
zope.configuration==6.0
zope.container==6.1
zope.contentprovider==6.0
zope.contenttype==5.2
zope.datetime==5.1
zope.deferredimport==5.0
zope.deprecation==5.1
zope.dottedname==6.0
zope.error==5.1
zope.errorview==2.0
zope.event==5.0
zope.exceptions==5.2
zope.filerepresentation==6.1
zope.formlib==6.1
zope.generations==5.1.0
zope.hookable==7.0
zope.i18n==5.2
zope.i18nmessageid==7.0
zope.index==7.0
zope.interface==7.2
zope.intid==5.1
zope.keyreference==6.1
zope.lifecycleevent==5.1
zope.location==5.1
zope.login==3.1
zope.minmax==2.3
zope.pagetemplate==5.1
zope.password==6.0
zope.principalregistry==5.1
zope.processlifetime==3.1
zope.proxy==6.1
zope.ptresource==5.1
zope.publisher==7.3
zope.schema==7.0.1
zope.security==7.3
zope.securitypolicy==5.1
zope.session==5.1
zope.site==5.1
zope.size==5.1
zope.tal==5.1
zope.tales==6.1
zope.testing==5.1
zope.traversing==5.1
zope.viewlet==5.1
